workflows/task_automation.json
{
  "name": "task_automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "70e65c71-9ded-4002-8c1c-67fc624f7511",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        -48
      ],
      "id": "a7c3543e-a0f5-41f5-ae1b-197a9cd7a246",
      "name": "Webhook",
      "webhookId": "70e65c71-9ded-4002-8c1c-67fc624f7511"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -48
      ],
      "id": "436600c3-ad28-4cd7-ae71-e407f127452a",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1P1KM3Mk4-w3bTACKePFXXcQPr_y4s4E8",
          "mode": "id"
        },
        "options": {
          "fileName": "faiss"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        448,
        -48
      ],
      "id": "94178278-2955-4d4d-b2cb-131814cde32a",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DujiMD0nhYGGy2RD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1Zzpxt8JIQ45klgg3reWdl0Bm_f3tCd-B",
          "mode": "id"
        },
        "options": {
          "fileName": "faqs"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        672,
        -48
      ],
      "id": "9bedccba-3e82-463e-b3d8-9565a60c6e71",
      "name": "Download file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "DujiMD0nhYGGy2RD",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "shivamsinha00101@gmail.com",
          "mode": "id"
        },
        "start": "={{new Date(Date.now() + 3600000) }}",
        "end": "={{new Date(Date.now() + 7200000)}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        896,
        -48
      ],
      "id": "04a943e2-5d22-4ccf-8ff9-d5fb57a01b42",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "T13ogEWiXv6J5NgH",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "superuser404.app.n8n.cloud",
            "user-agent": "python-requests/2.32.4",
            "content-length": "45",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "35.186.177.37",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "978c254390b20649-IAD",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "35.186.177.37, 172.70.42.126",
            "x-forwarded-host": "superuser404.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-47-58bbcd9445-v8p6p",
            "x-is-trusted": "yes",
            "x-real-ip": "35.186.177.37"
          },
          "params": {},
          "query": {},
          "body": {
            "task": "Book a restaurant for two at 7 PM"
          },
          "webhookUrl": "https://superuser404.app.n8n.cloud/webhook-test/70e65c71-9ded-4002-8c1c-67fc624f7511",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Download file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file1": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "87e59de5-164e-4564-bd50-80119a0b38c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "867c2e119aa5ba9cc70ca6f7272a679d869723e5491f567ed67dd95bd9168cc9"
  },
  "id": "B849JWamQ6hNa9q1",
  "tags": []
}